page-login {
 
    .login-content {
    background: #0c999c;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: #0c999c;
      padding: 20px 20px 0px 20px;
      margin-top: 0px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .submit-btn {
       background: #000000;
       border-radius: 30px !important;
       border: 0px solid #ffffff;
     }
 
  }
 
}