<ion-header>
 <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MARKETS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-item>
      <ion-label>Choose Market</ion-label>
      <ion-select [(ngModel)]="market_id" (ionChange)="LoadMarket()" interface="action-sheet">
          <ion-option value="BTC">BTC</ion-option>
          <ion-option value="ETH">ETH</ion-option>
          <ion-option value="XMR">XMR</ion-option>
          <ion-option value="USDT">USDT</ion-option>
      </ion-select>
    </ion-item>
    <hr>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
    <ion-grid *ngIf="ticker">
      <ion-row>
        <ion-col col-2>Coin</ion-col>
        <ion-col col-4>Price</ion-col>
        <ion-col col-3.5>Volume</ion-col>
        <ion-col col-2.5>Change</ion-col>
      </ion-row>
      
      <ion-row *ngFor="let currency of currenciesToDisplay" class="tab" (click)="showCurrencyInfo(market_id,currency)">
          <ion-col col-2 *ngIf="ticker[market_id+'_'+currency]">{{currency}}</ion-col>
          <ion-col col-4 *ngIf="ticker[market_id+'_'+currency]">{{ticker[market_id+'_'+currency].last}}</ion-col>
          <ion-col col-3.5 *ngIf="ticker[market_id+'_'+currency]">{{ticker[market_id+'_'+currency].baseVolume}}</ion-col>
          <ion-col col-2.5 *ngIf="ticker[market_id+'_'+currency]">{{ticker[market_id+'_'+currency].percentChange}}</ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
