<ion-tabs selectedIndex="">
  <ion-tab [root]="tab1Root" tabTitle="Market" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Trades" tabIcon="logo-bitcoin"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
<ion-header>
 <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trades</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
   </ion-refresher>
  <ion-card *ngIf="!isApiKey">
    <ion-card-header>
    Save API Key 
    </ion-card-header>
    <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label floating>API Key</ion-label>
                <ion-input type="text"  [(ngModel)]="apiKey"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Secret Key</ion-label>
                <ion-input type="password"  [(ngModel)]="secretKey"></ion-input>
              </ion-item>
              <button ion-button color="dark" block (click)='saveKeys()'>Save</button>
          </ion-list>
    </ion-card-content>
 </ion-card>
 <button ion-button color="dark" block  (click)='deleteKeys()' *ngIf="isApiKey">Use another account</button>
 <ion-card >
   <ion-card-header> My Balance
    </ion-card-header>
    <ion-grid *ngIf="balance&&isApiKey">
      <ion-row>
        <ion-col width-25>Coin</ion-col>
        <ion-col width-35>Total Balance</ion-col>
        <ion-col width-20>BTC Value</ion-col>
        <ion-col width-20>Action</ion-col>
      </ion-row>
      <ion-row *ngFor="let currency of currencies" (click)="showDeposit()">
        <ion-col width-25 >{{currency}}</ion-col>
        <ion-col width-35 >{{balance[currency]}}</ion-col>
        <ion-col width-20 >{{balance[currency]}}</ion-col>
        <ion-col width-20 >Deposit/Withdraw</ion-col>
      </ion-row>
    </ion-grid>
 </ion-card>
 <ion-card >
   <ion-card-header > My Trade History
   </ion-card-header>
   <ion-card-content *ngIf="isApiKey">
   No trades

You have not made any trades yet. Once you make some trades, they will appear here.
</ion-card-content>
</ion-card>
</ion-content>

