<ion-header>
 <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trades</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
   </ion-refresher>
  <ion-card *ngIf="!isApiKey">
    <ion-card-header>
    Save API Key 
    </ion-card-header>
    <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label floating>API Key</ion-label>
                <ion-input type="text"  [(ngModel)]="apiKey"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Secret Key</ion-label>
                <ion-input type="password"  [(ngModel)]="secretKey"></ion-input>
              </ion-item>
          </ion-list>
          <button ion-button color="primary" block (click)='saveKeys()'>Save</button>
    </ion-card-content>
 </ion-card>
 <button ion-button color="primary" block  (click)='deleteKeys()' *ngIf="isApiKey">Use another account</button>
 <ion-card >
   <ion-card-header> My Balance
    </ion-card-header>
    <ion-grid *ngIf="balance&&isApiKey">
      <hr>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
      <ion-row>
        <ion-col width-25>Coin</ion-col>
        <ion-col width-35>Total Balance</ion-col>
        <ion-col width-20>BTC Value</ion-col>
        <ion-col width-20 id="Action">Action</ion-col>
      </ion-row>
      <ion-row *ngFor="let currency of currencies" >
        <ion-col width-25 >{{currency}}</ion-col>
        <ion-col width-35 >{{balance[currency]}}</ion-col>
        <ion-col width-20 >{{balance[currency]}}</ion-col>
        <ion-col width-20 (click)="showDeposit(currency,balance[currency])" >Deposit/Withdraw</ion-col>
      </ion-row>
    </ion-grid>
 </ion-card>
 <ion-card >
   <ion-card-header > My Trade History
   </ion-card-header>
   
    <ion-grid *ngIf="balance&&isApiKey">
      <ion-row>
        <ion-col width-25>Trade ID</ion-col>
        <ion-col width-35>Type</ion-col>
        <ion-col width-20>Price</ion-col>
        <ion-col width-20 >Amount</ion-col>
        <ion-col width-20 >Transaction Date</ion-col>
      </ion-row>
      <ion-card-content *ngIf="isApiKey">
   <p>No trades</p>

    <p>You have not made any trades yet. Once you make some trades, they will appear here.</p>
</ion-card-content>
      <ion-row *ngFor="" >
        <ion-col width-25 ></ion-col>
        <ion-col width-35 ></ion-col>
        <ion-col width-20 ></ion-col>
        <ion-col width-20 ></ion-col>
        <ion-col width-20 ></ion-col>
      </ion-row>
    </ion-grid>
</ion-card>
</ion-content>