<ion-header>
 <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trades</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
   </ion-refresher>
  <ion-card *ngIf="!isApiKey">
    <ion-card-header>
    Save API Key 
    </ion-card-header>
    <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label floating>API Key</ion-label>
                <ion-input type="text"  [(ngModel)]="apiKey"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Secret Key</ion-label>
                <ion-input type="password"  [(ngModel)]="secretKey"></ion-input>
              </ion-item>
              <button ion-button full class="saveButton" (click)='saveKeys()'>Save</button>
          </ion-list>
    </ion-card-content>
 </ion-card>
 <button ion-button full class="saveButton" (click)='deleteKeys()' *ngIf="isApiKey">Use another account</button>
 <ion-card *ngIf="isApiKey">
   <ion-label> Your balance
    </ion-label>
    <div *ngIf="!balance">
      No Connection Lost.Pull to Refresh
    </div>
    <ion-grid *ngIf="balance">
      <ion-row>
        <ion-col width-25>Coin</ion-col>
        <ion-col width-35>Total Balance</ion-col>
        <ion-col width-20>BTC Value</ion-col>
        <ion-col width-20>Action</ion-col>
      </ion-row>
      <ion-row *ngFor="let currency of currencies">
        <ion-col width-25 >{{currency}}</ion-col>
        <ion-col width-35 >{{balance[currency]}}</ion-col>
        <ion-col width-20 >{{balance[currency]}}</ion-col>
        <ion-col width-20 >Deposit/Withdraw</ion-col>
      </ion-row>
    </ion-grid>
 </ion-card>
</ion-content>
