<ion-header>
  <ion-navbar>
    <ion-title>
      CURRENCY EXCHANGE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      Stock Price
    </ion-card-header>
    <ion-card-content class="cards">
      <ion-item>
        <ion-label>Zoom</ion-label>
        <ion-select [(ngModel)]="zoomId" (ionChange)="loadChartData()" interface="action-sheet">
          <ion-option value="21600">6h</ion-option>
          <ion-option value="86400">24h</ion-option>
          <ion-option value="172800">2d</ion-option>
          <ion-option value="345600">4d</ion-option>
          <ion-option value="604800">1w</ion-option>
          <ion-option value="1209600">2w</ion-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Period</ion-label>
        <ion-select [(ngModel)]="periodId" (ionChange)="loadChartData()" interface="action-sheet">
          <ion-option value="300">5min</ion-option>
          <ion-option value="900">15min</ion-option>
          <ion-option value="1800">30min</ion-option>
          <ion-option value="7200">2h</ion-option>
          <ion-option value="14400">4h</ion-option>
          <ion-option value="86400">1d</ion-option>
        </ion-select>
      </ion-item>
      <chart [options]="candlestickOptions"></chart>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Trade History
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngIf="tradeHistory" class="tab">
        <ion-row>
          <ion-col col-4.5>Date</ion-col>
          <ion-col col-1.5>Type</ion-col>
          <ion-col col-3>Price({{marketId}})</ion-col>
          <ion-col col-3>Amount({{currencyId}})</ion-col>
          <!--<ion-col col-2>Total({{marketId}})</ion-col>-->
        </ion-row>

        <ion-row *ngFor="let item of tradeHistory">
          <ion-col col-4.5>{{item.date}}</ion-col>
          <ion-col col-1.5>{{item.type}}</ion-col>
          <ion-col col-3>{{item.rate}}</ion-col>
          <ion-col col-3>{{item.amount}}</ion-col>
          <!--<ion-col col-2>{{item.total}}</ion-col>-->
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="asks && bids">
    <ion-card-header>
      Market Depth
    </ion-card-header>
    <ion-card-content class="cards">
      <chart [options]="askOptions"></chart>
      <chart [options]="bidOptions"></chart>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Buy {{currencyId}}
    </ion-card-header>
    <ion-card-content class="cards">
      <ion-list>
      <ion-item>
        <ion-label>Price({{marketId}}): </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Amount({{currencyId}}): </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      </ion-list>
      <button ion-button color="dark" block>BUY</button>
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    <ion-card-header>
      Sell {{currencyId}}
    </ion-card-header>
    <ion-card-content class="cards">
      <ion-list>
      <ion-item>
        <ion-label>Price({{marketId}}): </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Amount({{currencyId}}): </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      </ion-list>
      <button ion-button color="dark" block>SELL</button>
    </ion-card-content>
    
  </ion-card>

</ion-content>